.printing__example {
  display: flex;
  width: 100%;
  background-color: #dcdcdd;
  font-size: 2.75em;
  line-height: 3em;
}

.printing__example-container {
  padding: 10% 0;
}

.title {
  align-self: flex-end;
  font-weight: 400;
}

.printing__example-text {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.5em;
}

.printing__example-img {
  width: 35%;
  margin: 5%;
  object-fit: contain;
}

.printing__example-text-container {
  position: relative;
  display: flex;
  text-align: right;
}

h1 {
  font-size: 8vw;
  font-weight: 900;
  background-color: #3d6a66;
  color: #dcdcdd;
  display: block;
  padding: 0.5em;
}

h1:nth-child(2) {
  position: absolute;
  background-color: #dcdcdd;
  color: #3d6a66;
  clip-path: inset(-1% -1% 50% -1%);
}

.printing__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-color: #d0c3bd;
}

.printing__title {
  justify-content: flex-end;
}

.printing__info-text {
  width: 50%;
}

.printing__info-works {
  margin-top: 3%;
  font-size: 3.25em;
  line-height: 3.5em;
  color: #dcdcdd;
}

.printing__works {
  padding: 5%;
  background-color: #1d2424;
}

.printing__works-container {
  display: flex;
  width: 100%;
}

.printing__works-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 50%;
}

.printing__works{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides {
  padding: 0;
  width: 60%;
  height: 600px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;

  transform: scale(0);

  transition: all 0.7s ease-in-out;
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav label {
  width: 80px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: 'Varela Round', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: #3d6a6642;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8{
  background: #3d6a66;
}
