body {
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue,
    Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 5;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #455766;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #69849b;
}

.menu__logo {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.menu__image {
  height: 50px;
}

.active {
  background-color: #455766;
}

.about-us {
  background: #d0c3bd;
}

.container {
  width: 100%;
  height: 800px;
  margin-top: 64px;
}

.about-us__image {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/main/aboutUs.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
}

.about-us__text-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #1d2424cc;
}

.about-us__text-container{
  text-align: end;
}

.about-us__text {
  color: white;
  font-size: 3.25em;
  line-height: 3.5em;
  font-weight: 600;
}

.about-us__first-text {
  margin-top: 70px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: #d0c3bd;
}

.info__wrapper {
  width: 33%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.info__img-wrapper {
  height: 380px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.info__img-link {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info__text-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: auto;
  background-color: #ffffffab;
}

.info__route-img-props {
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info__route-img-props:hover {
  transform: scale(1.5);
}

.about-us__text-block {
  margin: 40px auto 40px auto;
  padding: 16px;
  width: 60%;
}

.about-us__info-text {
  min-height: 250px;
  padding: 2%;
}

.about-us__info {
  color: black;
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

footer {
  display: flex;
  flex-direction: column;
}

.icon__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 15px;
}

.footer__text {
  align-self: center;
  font-size: 1.5em;
  line-height: 1.75em;
  color: #3d6a66;
}

#contactUs {
  right: 20px;
  position: fixed;
  bottom: 20px;
  width: 86px;
  height: 86px;
  font-size: 2.75em;
  background-color: #1d2424;
  border-radius: 50%;
  border: 0;
  z-index: 5;
}

.about-us__info-btn {
  width: 100%;
  align-self: center;
}

.btn {
  color: white;
}

.action-button {
  width: 100%;
  align-self: center;
  background: #3d6a66;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 5px;
  font-size: 1.75em;
  line-height: 2em;
  border-radius: 8px;
}

.action-button:hover,
.action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #3d6a66;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #1d2424;
}

.footer__logos-container {
  display: flex;
  justify-content: flex-start;
}

.footer__logo {
  width: 30%;
}

.action-button__container {
  margin-top: 5%;
  width: 30%;
}
